body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro-glass {
  animation-delay: 1s;
  animation-duration: 250ms;
}
.intro-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.intro-header {
  font-family: Oswald, sans-serif;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.5);
  animation-delay: 2s;
  animation-duration: 1000ms;
  margin: 0px;
}
.intro-cocktail-container {
  display: flex;
  margin-top: -20px;
  animation-delay: 2s;
  animation-duration: 1s;
  padding-left: 10px;
}
.intro-cocktail-container>span{
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.intro-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  padding-left:10px;
  animation-delay: 6s;
  animation-duration: 300ms;
}
.intro-links-reflections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation-delay: 6s;
  animation-duration: 300ms;
}

.intro-link {
  font-family: Oswald, sans-serif;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  width: 150px;
  font-size: 18px;
  color: #fff;
  opacity: 0.5;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.intro-link:hover {
  opacity: 1;
}

.icon {
  margin-right: 12px;
  height: 24px;
  width: 24px;
}